<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home | Coplay Suit</title>
  <!-- Font Awesome Cdn Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
  <style>
    /*  import google fonts */
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

    * {
      margin: 0;
      padding: 0;
      outline: none;
      border: none;
      text-decoration: none;
      list-style: none;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    .container-fluid {
      display: flex;
      padding: 0;
      margin: 0 auto;
    }

    nav {
      position: sticky;
      top: 0;
      left: 0;
      bottom: 0;
      width: 310px;
      height: 110vh;
      background: rgb(246, 246, 246);
    }

    .navbar {
      width: 90%;
      margin: 0 auto;
    }

    .logo {
      margin: 2rem 0 1rem 0;
      padding-bottom: 3rem;
      display: flex;
      align-items: center;
    }

    .logo img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .logo h1 {
      margin-left: 1rem;
      text-transform: lowercase;
    }

    li {
      padding-bottom: 2rem;
    }

    li a {
      font-size: 16px;
      color: rgb(85, 83, 83);
    }

    nav i {
      font-size: 18px;
    }

    .logout {
      position: absolute;
      top: 20px;
      bottom: 20px;
    }

    .main {
      width: 100%;
    }

    .main-top {
      background: rgb(246, 246, 246);
      width: 100%;
      padding: 40px 10px 20px 10px;
      text-align: center;
      font-size: 18px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }

    .main-top1 {
      margin-top: 60px;
      width: 100%;
      padding: 10px;
      text-align: center;
    }

    .main-body {
      padding: 10px 10px 10px 20px;
    }

    h1 {
      margin: 20px 10px;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <nav class="nav flex-column">
      <div class="navbar">
        <div class="logo">
          <img src="https://gentlenobra.com/wp-content/uploads/2021/09/gai-xinh-sexy-cosplay-min.jpg" alt="">
          <h4 style="margin-left: 10px;">
            <%=username%>
          </h4>
        </div>

        <ul style="display: inline-block;text-align: left;padding-left: 0px;">
          <li><a class="nav-link" href="/users/home" style="font-size: 16px;color: rgb(85, 83, 83);">
              <i class="fas fa-user"></i>
              <span class="nav-item">Quản lý sản phẩm</span>
            </a>
          </li>
          <li><a class="nav-link" href="/category/getCategory" style="font-size: 16px;color: rgb(85, 83, 83);">
              <i class="fas fa-industry"></i>
              <span class="nav-item">Quản lý thể loại</span>
            </a>
          </li>
          <li><a class="nav-link" href="/users/home/quanlykhachhang" style="font-size: 16px;color: rgb(85, 83, 83);">
              <i class="fas fa-chart-bar"></i>
              <span class="nav-item">Quản lý khách hàng</span>
            </a>
          </li>
          <li><a class="nav-link" href="/billw/getbilldone" style="font-size: 16px;color: rgb(85, 83, 83);">
            <i class="fa fa-kaaba"></i>
            <span class="nav-item">Quản lý đơn hàng</span>
          </a>
        </li>
          <li><a class="nav-link" href="/salesman/home/quanlynguoiban" style="font-size: 16px;color: rgb(85, 83, 83);">

              <i class="fas fa-tasks"></i>
              <span class="nav-item">Quản lý người bán</span>
            </a>
          </li>

          <li><a class="nav-link" href="#" style="font-size: 16px;color: rgb(85, 83, 83);">
              <i class="fab fa-dochub"></i>
              <span class="nav-item">Thống kê</span>
            </a>
          </li>
          <li><a class="nav-link" href="/users/account" style="font-size: 16px;color: rgb(85, 83, 83);">
              <i class="fab fa-dochub"></i>
              <span class="nav-item">Account</span>
            </a>
          </li>
          <li><a class="nav-link" href="#" class="logout" style="font-size: 16px;color: rgb(85, 83, 83);">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="main">
      <div class="main-top">
        <h3 style="font-size: 20px;margin-bottom: 0px;">Quản lý thể loại</h3>
      </div>
      <div class="main-top1">
        <div class="d-flex justify-content-end mb-3">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal">
            Thêm Thể Loại
          </button>
        </div>
        <table class="table table-bordered" style="border: 1px solid rgb(234, 226, 226);">
          <thead>
            <tr>
              <th colspan="6">
                <div class="container" style="text-align: center;">
                  <div class="" style="display: flex;padding: 10px;justify-content: space-between;align-items: center;">
                    <div style="display: flex;">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checkup-list"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2">
                        </path>
                        <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z">
                        </path>
                        <path d="M9 14h.01"></path>
                        <path d="M9 17h.01"></path>
                        <path d="M12 16l1 1l3 -3"></path>
                      </svg>
                      <h5 style="margin-left: 10px;">Danh Sách Thể Loại</h5>
                    </div>
                    <div>
                      <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" style="width: 300px;"
                          placeholder="Enter Name Category" aria-label="Search" name="name">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form>
                    </div>
                  </div>
                </div>
              </th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th scope="col"># </th>
              <th scope="col" style="display: flex;text-align: center;justify-content: center;">Name
              </th>
              <th scope="col">Image</th>
              <th scope="col">Time</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% let count=1; %>
              <% listTL.forEach( ( row )=> { %>
                <tr class="tr_hover">
                  <td>
                    <%= count %>

                  </td>
                  <td class="td_name">
                    <%= row.name %>
                  </td>
                  <td>
                    <img src="<%= row.imageCategory %>" alt="Category Image" style="max-width: 80px; max-height: 80px;">
                  </td>
                  <td>
                    <%= row.time_category %>
                  </td>
                  <td>
                    <a id="a_none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dots-vertical"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                        <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                        <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                      </svg>
                    </a>
                    <ul class="dropdown-menu">
                      <li style="padding: 0;">
                        <a href="#editCategoryModal_<%= row._id %>" class="dropdown-item btn-edit-category" 
                          data-bs-toggle="modal" data-bs-target="#editCategoryModal_<%= row._id %>">
                          Sửa Thể Loại
                        </a>
                        

                      </li>
                      <li style="padding: 0;">
                        <a type="button" class="dropdown-item delete-category-button" data-bs-toggle="modal"
                          data-bs-target="#deleteConfirmationModal" data-category-id="<%= row._id %>">
                          Xóa Thể Loại</a>
                      </li>
                    </ul>
                  </td>
                </tr>

                <div class="modal fade" id="editCategoryModal_<%= row._id %>" tabindex="-1"
                  aria-labelledby="editCategoryModalLabel_<%= row._id %>" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="editCategoryModalLabel_<%= row._id %>">Sửa Thể Loại</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                   
                        <form enctype="multipart/form-data" method="post"
                          action="/category/getCategory/<%= row._id %>">
                          <div class="mb-3">
                            <label for="editCategoryName" class="form-label">Tên Thể Loại</label>
                            <input type="text" class="form-control" id="editCategoryName" name="name"
                              value="<%= row.name %>" required>
                          </div>
                          <div class="mb-3">
                            <label for="editCategoryImage" class="form-label">Ảnh Thể Loại</label>
                            <input type="file" class="form-control" id="editCategoryImage" name="imageCategoryChuong"
                              readonly>
                            <!-- Hiển thị ảnh hiện tại -->
                            <img src="<%= row.imageCategory %>" alt="Category Image"
                              style="max-width: 80px; max-height: 80px; margin-top: 10px;">
                          </div>

                          <div class="text-center">
                            <button type="submit" class="btn btn-primary">Lưu Thay Đổi</button>
                          </div>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
                <% count +=1; %>
                  <% } ) %>
          </tbody>
        </table>
      </div>
      <!-- đây là code modal của anh -->
      <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addProductModalLabel">Thêm Thể Loại</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form enctype="multipart/form-data" method="post">
                <div class="mb-3">
                  <label for="name" class="form-label">Tên Thể Loại</label>
                  <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                  <label for="imageCategory" class="form-label">Chọn Ảnh Thể Loại</label>
                  <input type="file" class="form-control" id="imageCategory" name="imageCategory">
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Thêm</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- dialog xóa -->
      <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteConfirmationModalLabel">Xác nhận xóa</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Bạn có chắc chắn muốn xóa thể loại này không?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>

              <form id="deleteForm" action="" method="delete">
                <button type="submit" class="btn btn-danger">Xóa</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- hết 3 modal -->
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-2 col-md-2">
            <div class="row" style="margin-top: 8px;">
              <h6></h6>
            </div>
          </div>
          <div class="col-12 col-sm-7 col-md-7">
            <div class="row"></div>
          </div>
          <div class="col-12 col-sm-3 col-md-3"></div>
        </div>
      </div>
      <%if(!(listTL===null || (Array.isArray(listTL) && listTL.length===0))){%>
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-2 col-md-2">
              <div class="row" style="margin-top: 8px;">
                <h6>
                  <%=page%>/<%=page_length%>
                </h6>
              </div>
            </div>
            <div class="col-12 col-sm-7 col-md-7">
              <div class="row"></div>
            </div>
            <div class="col-12 col-sm-3 col-md-3">
              <div class="row">
                <nav aria-label="Page navigation example" style="height: 0px;">
                  <ul class="pagination justify-content-end">
                    <li class="page-item">
                      <%if(page>1){%>
                        <a class="page-link" href="/category/getCategory?page=<%=page-1%>" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                        <%}%>

                    </li>
                    <%for(let i=1;i<=page_length;i++){%>
                      <li class="page-item"><a class="page-link" href="/category/getCategory?page=<%=i%>">
                          <%=i%>
                        </a></li>
                      <%}%>
                        <li class="page-item">
                          <%if(page>=page_length){%>

                            <%}else{%>
                              <a class="page-link" href="/category/getCategory?page=<%=page+1%>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                              <%}%>

                        </li>
                  </ul>
                </nav>
              </div>

            </div>
          </div>

        </div>
        <%}%>
    </section>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const deleteConfirmationModal = new bootstrap.Modal(document.getElementById('deleteConfirmationModal'));
      const deleteForm = document.getElementById('deleteForm');

      deleteConfirmationModal._element.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const categoryId = encodeURIComponent(button.getAttribute('data-category-id'));
        deleteForm.action = `/category/getCategory/delete/${categoryId}`;
      });

  



    });

  </script>

  <script src="/bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
